@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400|Poiret+One|Titillium+Web:200,400");

@import url(https://fonts.googleapis.com/earlyaccess/notosansscsliced.css);

* {
  font-family: Lato, Noto Sans SC Sliced, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  line-height: 1.6;
}

body, html {
  height: 100%;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
}
